.buttons{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    aspect-ratio : 1 / 1;
    height: 70%;
    border-radius: 50%;
}


#sadness{
    background-color: lightblue;
    margin: auto;
    top: 42.5%;
    left:0;
    border-radius: 50%;
}
#sadness:hover{
    background-color: blue;
}

#joy{
    position: absolute;
    background-color: lightyellow; opacity: 0;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}
#joy:hover{
    background-color: gold;
}

#disgust{
    background-color: lightgreen;
    margin: auto;
    bottom: 0;
    left: 40%;
    border-radius: 50%;
}
#disgust:hover{
    background-color: green;
}

#fear{
    background-color: 	#CBC3E3;
    margin: auto;
    bottom: 0;
    right: 40%;
    border-radius: 50%;
}
#fear:hover{
    background-color: indigo;
}

#anger{
    background-color: lightcoral;
    margin: auto;
    top: 42.5%;
    right: 0;
    border-radius: 50%;
}
#anger:hover{
    background-color: red;
}