#tn{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    aspect-ratio : 1 / 1;
    border-radius: 25%;
    color: black;
    display: flex;
    justify-content: space-around;
}

#tn img{
    background-color: white; opacity: 0;
    border-radius: 25%;
    height: 100%;
    width: 100%;
}

.nav {
    position: absolute;
    background-color: white; opacity: 0.5;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
    aspect-ratio : 1 / 1;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#bn{
    opacity: 0;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#bn p{
    background-color: blue;
    color: white;
    font-size: large;
}

#bn a{
    background-color: red;
}

#ln{
    background-color: #333; opacity: 0;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    height: 95%;
    width: 1%;
}

#ln_t{
    opacity: 0;
    position: absolute;
    margin: auto;
    left: 1%;
    top: 0;
    bottom: 0;
    height: 90%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}

#ln_info{
    opacity: 0;
    width: 90%;
    height: 100%;
    padding: 5%;
}

#rn{
    background-color: gray; opacity: 0;
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 95%;
    width: 1%;
}

#rn_t{
    opacity: 0;
    position: absolute;
    margin: auto;
    right: 1%;
    top: 0;
    bottom: 0;
    height: 90%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}

#rn_info{
    opacity: 0;
    width: 90%;
    height: 100%;
    padding: 5%;
}